!!filename .gitlab-ci.yml
# region CODE_REGION(CI)
include: 
{{ if .PluginComponent.Spec.IsLib }}
  - project: "cestus/ci/gitlab-ci"
    file: /pipeline/golang/libv2.yml
    ref: master
{{ end -}}
{{ if .PluginComponent.Spec.IsService }}
  - project: "cestus/ci/gitlab-ci"
    file: /pipeline/golang/servicev2.yml
    ref: master
{{ end -}}
{{ if .PluginComponent.Spec.IsTool }}
  - project: "cestus/ci/gitlab-ci"
    file: /pipeline/golang/tool.yml
    ref: master
{{ end -}}
# endregion